﻿@model App_Pms.Web.DPWApiClient.Workflow.Entities.CrearDocumento
@{
    ViewData["Title"] = "Document Workflow";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Bootstrap Alert Message -->
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert-message"> </div>
            </div>
        </div>
    </section>
    <!-- /.Bootstrap Alert Message -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.TipoSolicitudLabel de Documentos - Inicio
            <small>Solicitudes</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-edit"></i> Solicitudes</li>
            <li class="active">Gestionar Documento</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <div class="col-md-8">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Solicitud de [@ViewBag.TipoSolicitudLabel] de Documento</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form asp-action="Create" enctype="multipart/form-data" method="post">
                        <input type="hidden" id="jwt_access_token" value="@ViewBag.jwt_access_token" /> <input type="hidden" id="uri_buscar_docsXtitulo" value="@ViewBag.uri_buscar_docsXtitulo" />
                        <input type="hidden" id="vb_TipoSolicitud" value="@ViewBag.TipoSolicitud" /> <input type="hidden" asp-for="TipoSolicitud" />
                        <input type="hidden" id="url_templates" value="@ViewBag.url_templates" /><input type="hidden" id="url_api_searchDocName" value="@ViewBag.url_api_searchDocName" />
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Solicitante</label>
                                    <input type="text" class="form-control txtSolicitante" placeholder="Escribir el nombre del solicitante..." asp-for="Solicitante">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Departamento</label>
                                    <select class="form-control select2" style="width: 100%;" asp-for="Departamento.CodigoDepartamento" asp-items="ViewBag.IdDepartamento"></select>
                                </div>
                            </div>
                            <div class="row">
                            @{
                                if (ViewData["TipoSolicitud"].Equals("Creacion"))
                                {
                                    <div class="form-group col-md-6">
                                        <label>Tipología del Documento</label>
                                        <select class="form-control selectTipoDocumento" style="width: 100%;" asp-for="TipologiaDocumental.CodigoTipoDocumental" asp-items="ViewBag.IdTipologia"></select>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group col-md-6">
                                        <label>Nombre del Documento</label>
                                        <input type="text" id="NombreDelDocumento" class="form-control txtNombreDocumento" placeholder="Escribir el nombre del documento..." asp-for="NombreDocumento">
                                    </div>
                                }

                                if (!ViewData["TipoSolicitud"].Equals("Nomenclatura"))
                                {
                                    <div class="form-group col-md-6">
                                        <label>Requiere Soporte</label><br />
                                        <input type="checkbox" data-toggle="toggle" data-size="mini" asp-for="RequiereSoporte">
                                    </div>
                                }
                            }
                            </div>
                            <div class="row">
                            @{
                                if (!ViewData["TipoSolicitud"].Equals("Nomenclatura"))
                                {
                                    <div class="form-group col-md-6">
                                        <label>Tipo de Cambio</label>
                                        <select class="form-control selectTipoCambio" style="width: 100%;" asp-for="TipoCambio" asp-items="ViewBag.IdTipoCambio"></select>
                                    </div>
                                    if (ViewData["TipoSolicitud"].Equals("Creacion"))
                                    {
                                        <div class="form-group col-md-4">
                                            <div class="divAnexo" style="visibility:hidden">
                                                <label>Requiere Adiestramiento</label>
                                                <input type="checkbox" id="chkAdiestramiento" asp-for="RequiereAdiestramiento"><br />
                                                <label for="InputFileAnexo">Cargar Anexo</label>
                                                <input type="file" id="InputFileAnexo" asp-for="FormFileAnnexed">
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="form-group col-md-6">
                                        <label>Área Actual</label>
                                        <input type="text" class="form-control" placeholder="Escribir el áera actual..." asp-for="AreaActual">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Área Propuesta</label>
                                        <input type="text" class="form-control" placeholder="Escribir el áera propuesta..." asp-for="AreaPropuesta">
                                    </div>
                                }
                            }
                            </div>
                            <div class="row">
                            @{
                                if (!ViewData["TipoSolicitud"].Equals("Nomenclatura"))
                                {
                                    <div class="form-group col-md-6">
                                        <label>Fuente de la [@ViewBag.TipoSolicitudLabel]</label>
                                        <select class="form-control select2" style="width: 100%;" asp-for="RazonesCreacion.CodigoRazonCreacion" asp-items="ViewBag.IdRazonCreacion"></select>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group col-md-6">
                                        <label>Tipo Documento De</label>
                                        <input type="text" class="form-control" placeholder="Escribir el tipo documental De:" asp-for="CambioTipoDocumentoDe">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Tipo Documento Para:</label>
                                        <input type="text" class="form-control" placeholder="Escribir el tipo documental Para:" asp-for="CambioTipoDocumentoA">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Razón del Cambio</label>
                                        <textarea class="form-control rounded-0 txtAreaJust" id="ControlTextarea2" rows="3" asp-for="RazonDelCambio" placeholder="Favor escribir la razón del cambio..."></textarea>
                                    </div>
                                }

                                if (ViewData["TipoSolicitud"].Equals("Creacion"))
                                {
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputFile">Cargar Documento</label>
                                        <input type="file" id="InputFileDocumento" asp-for="FormFile">
                                    </div>
                                }
                            }
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <input type="submit" value="Enviar Solicitud" class="btn btn-info btn-sm" id="btnGuardar" />
                            @{
                            if (ViewData["TipoSolicitud"].Equals("Creacion"))
                            {
                                <a href="#" class="btn btn-danger btn-sm" role="button" id="btnDescargarPlantillaHref">Descargar Plantilla</a>
                            }
                            }
                        </div>
                    </form>
                    <!-- /.form start -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{
    <!-- jQuery UI 1.12.0-rc2 -->
    <script src="~/content/bower_components/jquery-ui/jquery-ui.min-1.12.0-rc2.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ValidarUrlTemplates();
            $(".selectTipoCambio").change(function () {
                var _checked = ($(this).val() == 'Mayor');
                $("#chkAdiestramiento").prop("checked", _checked);
                $("#chkAdiestramiento").attr("disabled", _checked);
                if (_checked) {
                    $(".divAnexo").css("visibility", "visible");
                } else {
                    $(".divAnexo").css("visibility", "hidden");
                    $('#InputFileAnexo').val('');
                }
            });            
            console.log("Autocomplete_jQuery : " + $("#url_api_searchDocName").val());
            console.log("Inicio: Autocompletar with Rest Api Search Document Names");
            $('#NombreDelDocumento').autocomplete({
                source: $("#url_api_searchDocName").val()
            });
            console.log("Fin: Autocompletar with Rest Api Search Document Names");
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".selectTipoDocumento").change(function () {
                ValidarUrlTemplates();
            });
        });
    </script>
    <script>
        function ValidarUrlTemplates() {
            var url_api = $("#url_templates").val() + "/" + $(".selectTipoDocumento").val();
            $("#btnDescargarPlantillaHref").attr("href", url_api);
        }
    </script>
    <script>
        function InfoCol() {
            var uri = "https://restcountries.eu/rest/v2/alpha/col?fields=name;capital"; // Info COL with filter (name,capital) from Countries ApiRest
            console.log('Inicio InfoCol()');
            console.log('go uri : ' + uri);
            //-- Ajax
            $.ajax({
                url: uri
                , type: 'GET'
                , dataType: 'json'
            }).done(function (data) {
                console.log('done');
                console.log(data.name + ' , ' + data.capital);
            }).fail(function (jqXHR, textStatus, error) {
                console.log('fail = (textStatus : ' + textStatus + ' , error : ' + error + ')');
            }).always(function (always) {
                console.log('always');
            });
            //-- ./Ajax
            console.log('Fin InfoCol()');
        }
    </script>
    <script>
        function AutocompletarNombreDoc() {
            var method = "AutocompletarNombreDoc()";
            var texto = $('.txtNombreDocumento').val().trim();
            var jwt = $('#jwt_access_token').val();
            var uri = $('#uri_buscar_docsXtitulo').val() + '/titulo?tituloDocumento=' + texto + '&documentosObsoletos=false';
            console.log("------------------------------------------------------------");
            console.log(method + " - go uri : " + uri);
            console.log(method + " - jwt : " + jwt);
            //-- Ajax
            $.ajax({
                url: uri
                , type: 'GET'
                , dataType: 'json'
                , headers: {
                    'Authorization': 'Bearer ' + jwt
                }
            }).done(function (data) {
                console.log(method + " - Done");
                $.each(data, function (i, val) {
                    console.log(method + " - [" + i + "] => " + val);
                });
            }).fail(function (xhr, jqXHR, textStatus, error) {
                var _fail = ("Fail = (xhr : " + xhr.responseText + " , textStatus : " + textStatus + " , error : " + error + ") > ");
                console.log(method + " - " + _fail);
            }).always(function (always) {
                console.log(method + " - Always");
            });
            //-- Ajax ./
            console.log(method + " - end");
            console.log("------------------------------------------------------------");
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnGuardar").click(function () {
                var type = 'warning';
                var alertType = 'alert-' + type;
                var texto = $(".txtSolicitante").val().trim();
                if (texto == '') {
                    var message = 'Por favor ingresar el nombre del solicitante!!!';
                    var htmlAlert = '<div class="alert ' + alertType + '"><h3>Advertencia :</h3><h4>' + message + '</h4></div>';
                    $(".alert-message").prepend(htmlAlert);
                    $(".alert-message .alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
                    return false;
                } else {
                    if ($(".txtSolicitante").val().length > 300) {
                        var message = 'El nombre del solicitante no debe superar los 300 caracteres de longitud.';
                        var htmlAlert = '<div class="alert ' + alertType + '"><h3>Advertencia :</h3><h4>' + message + '</h4></div>';
                        $(".alert-message").prepend(htmlAlert);
                        $(".alert-message .alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
                        return false;
                    }
                }
                var solicitud = $("#vb_TipoSolicitud").val();
                if (solicitud == 'Creacion') {
                    if ($("#InputFileDocumento").val() == '') {
                        var message = 'Por favor adjuntar un documento!!!';
                        var htmlAlert = '<div class="alert ' + alertType + '"><h3>Advertencia :</h3><h4>' + message + '</h4></div>';
                        $(".alert-message").prepend(htmlAlert);
                        $(".alert-message .alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
                        return false;
                    }
                } else if (solicitud == 'Actualizacion' || solicitud == 'Obsoletizacion' || solicitud == 'Reactivacion' || solicitud == 'Nomenclatura') {
                    texto = $(".txtNombreDocumento").val().trim();
                    if (texto == '') {
                        var message = 'Por favor ingresar el nombre del documento!!!';
                        var htmlAlert = '<div class="alert ' + alertType + '"><h3>Advertencia :</h3><h4>' + message + '</h4></div>';
                        $(".alert-message").prepend(htmlAlert);
                        $(".alert-message .alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
                        return false;
                    } else {
                        if ($(".txtNombreDocumento").val().length > 300) {
                            var message = 'El nombre del documento no debe superar los 300 caracteres de longitud.';
                            var htmlAlert = '<div class="alert ' + alertType + '"><h3>Advertencia :</h3><h4>' + message + '</h4></div>';
                            $(".alert-message").prepend(htmlAlert);
                            $(".alert-message .alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
                            return false;
                        }
                    }
                }
                return true;
            });
        });
    </script>
}