﻿@model App_Pms.Web.DPWApiClient.Workflow.Entities.CrearDocumento
@{
    ViewData["Title"] = "Document Manager";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Bootstrap Alert Message -->
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert-message"> </div>
            </div>
        </div>
    </section>
    <!-- /.Bootstrap Alert Message -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.TipoSolicitudLabel de Documentos - Aprobación
            <small>Solicitudes</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-edit"></i> Solicitudes</li>
            <li class="active">Editar Documento</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <div class="col-md-8">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Edición del Documento / [@Html.DisplayFor(model => model.NombrePaso)] </h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form enctype="multipart/form-data" method="post">
                        <input type="hidden" id="jwt_access_token" value="@ViewBag.jwt_access_token" /> <input type="hidden" id="user_name" value="@ViewBag.user_name" />
                        <input type="hidden" asp-for="Id" id="IdDoc" /><input type="hidden" asp-for="IdPaso" id="IdPaso" /><input type="hidden" asp-for="TipoSolicitud" id="tipoSolicitud_vb" />
                        <input type="hidden" asp-for="DocName" /><input type="hidden" asp-for="NumeroRevisionDocumento" /><input type="hidden" asp-for="GrupoSeguridad" />
                        <input type="hidden" id="url_download" value="@ViewBag.url_download" /><input type="hidden" id="url_api_searchDocName" value="@ViewBag.url_api_searchDocName" />

                        <!-- box-body -->
                        <div class="box-body">
                            <div class="row">
                                <!-- Solicitante -->
                                <div class="form-group col-md-6">
                                    <label>Solicitante</label>
                                    <input type="text" class="form-control txtSolicitante" placeholder="Escribir el nombre del solicitante..." asp-for="Solicitante">
                                </div>
                                <!-- Departamento -->
                                <div class="form-group col-md-6">
                                    <label>Departamento</label>
                                    <select class="form-control select2" style="width: 100%;" asp-for="Departamento.CodigoDepartamento" asp-items="ViewBag.IdDepartamento"></select>
                                </div>
                            </div>
                            @{
                                if (!ViewData["IdPaso"].Equals("1403"))
                                {
                                    <div class="row">
                                    @{
                                        if (ViewData["TipoSolicitud"].Equals("Creacion"))
                                        {
                                            <!-- Tipología del Documento -->
                                            <div class="form-group col-md-6">
                                                <label>Tipología del Documento</label>
                                                <select class="form-control select2" style="width: 100%;" asp-for="TipologiaDocumental.CodigoTipoDocumental" asp-items="ViewBag.IdTipologia"></select>
                                            </div>
                                        }else{
                                            <!-- Nombre del Documento -->
                                            <div class="form-group col-md-6">
                                                <label>Nombre del Documento</label>
                                                <input type="text" id="NombreDelDocumento" class="form-control txtNombreDocumento" placeholder="Escribir el nombre del documento..." asp-for="NombreDocumento">
                                            </div>
                                        }

                                        if (!ViewData["TipoSolicitud"].Equals("Nomenclatura"))
                                        {
                                            <!-- Requiere Soporte -->
                                            <div class="form-group col-md-4">
                                                <label>Requiere Soporte</label><br />
                                                <input type="checkbox" data-toggle="toggle" data-size="mini" asp-for="RequiereSoporte">
                                            </div>
                                        }else{
                                            <!-- divCargarDocNomencla -->
                                            <div class="form-group col-md-4 divCargarDocNomencla" style="visibility:hidden">
                                                <label for="exampleInputFile">Cargar Documento</label>
                                                <input type="file" id="InputFileDocumento" asp-for="FormFile">
                                            </div>
                                        }
                                    }
                                    </div>
                                }
                            }
                            <div class="row">
                            @{
                                if (!ViewData["TipoSolicitud"].Equals("Nomenclatura"))
                                {
                                    <!-- Requiere Soporte -->
                                    <div class="form-group col-md-6">
                                        <label>Tipo de Cambio</label>
                                        <select class="form-control selectTipoCambio" style="width: 100%;" asp-for="TipoCambio" asp-items="ViewBag.IdTipoCambio"></select>
                                    </div>
                                    <!-- divAnexo -->
                                    <div class="form-group col-md-4">
                                        <div class="divAnexo" style="visibility:hidden">
                                        @{
                                            if (ViewData["TipoSolicitud"].Equals("Creacion"))
                                            {
                                                <br />
                                                <a href="#" class="btn btn-danger btn-sm" role="button" id="btnDescargarAnexoHref">Descargar Anexo</a>
                                            }else{
                                                if (ViewData["TipoSolicitud"].Equals("Actualizacion"))
                                                {
                                                    if (ViewData["IdPaso"].Equals("602"))
                                                    {
                                                        <label>Requiere Adiestramiento</label>
                                                        <input type="checkbox" id="chkAdiestramiento" asp-for="RequiereAdiestramiento"><br />
                                                        <label for="InputFileAnexo">Cargar Anexo</label>
                                                        <input type="file" id="InputFileAnexo" asp-for="FormFileAnnexed">
                                                    }else{
                                                        <br />
                                                        <a href="#" class="btn btn-danger btn-sm" role="button" id="btnDescargarAnexoHref">Descargar Anexo</a>
                                                    }
                                                }
                                            }
                                        }
                                        </div>
                                    </div>
                                }else{
                                    <!-- Área Actual -->
                                    <div class="form-group col-md-6">
                                        <label>Área Actual</label>
                                        <input type="text" class="form-control" placeholder="Escribir el áera actual..." asp-for="AreaActual">
                                    </div>
                                    <!-- Área Propuesta -->
                                    <div class="form-group col-md-6">
                                        <label>Área Propuesta</label>
                                        <input type="text" class="form-control" placeholder="Escribir el áera propuesta..." asp-for="AreaPropuesta">
                                    </div>
                                }
                            }
                            </div>
                            @{
                            if (!ViewData["TipoSolicitud"].Equals("Nomenclatura"))
                            {
                                <div class="row">
                                    <!-- Fuente de la Solicitud -->
                                    <div class="form-group col-md-6">
                                        <label>Fuente de la [@ViewBag.TipoSolicitudLabel]</label>
                                        <select class="form-control select2" asp-for="RazonesCreacion.CodigoRazonCreacion" asp-items="ViewBag.IdRazonCreacion"></select>
                                    </div>
                                    <!-- Justificación -->
                                    <div class="form-group col-md-6">
                                        <label>Justificación</label>
                                        <textarea class="form-control rounded-0 txtAreaJust" id="ControlTextarea2" rows="2" asp-for="Justificacion" placeholder="Escribir la justificación..."></textarea>
                                    </div>
                                </div>
                            }else{
                                <div class="row">
                                    <!-- Tipo Documento De: -->
                                    <div class="form-group col-md-6">
                                        <label>Tipo Documento De:</label>
                                        <input type="text" class="form-control" placeholder="Escribir el tipo documental De:" asp-for="CambioTipoDocumentoDe">
                                    </div>
                                    <!-- Tipo Documento Para: -->
                                    <div class="form-group col-md-6">
                                        <label>Tipo Documento Para:</label>
                                        <input type="text" class="form-control" placeholder="Escribir el tipo documental Para:" asp-for="CambioTipoDocumentoA">
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Razón del Cambio -->
                                    <div class="form-group col-md-12">
                                        <label>Razón del Cambio y/o Justificación de Rechazo</label>
                                        <textarea class="form-control rounded-0 txtAreaJust" id="ControlTextarea2" rows="2" asp-for="RazonDelCambio" placeholder="favor escribir la razón del cambio..."></textarea>
                                    </div>
                                </div>
                            }

                            <!-- divCargarDoc -->
                            <div class="form-group divCargarDoc" style="display:none">
                                <label for="exampleInputFile">Cargar Documento</label>
                                <input type="file" id="InputFileDocumento" asp-for="FormFile">
                            </div>
                            
                            <!-- divUltimoPaso -->
                            <div class="divUltimoPaso" style="display:none">
                                <h3>
                                    Ficha de Datos del Documento
                                    <small>Último Paso</small>
                                </h3>
                                <div class="row">
                                @{
                                    if (ViewData["TipoSolicitud"].Equals("Creacion") || ViewData["TipoSolicitud"].Equals("Nomenclatura"))
                                    {
                                        <!-- Nombre del documento -->
                                        <div class="form-group col-md-6">
                                            <label>Nombre del documento</label>
                                            <input type="text" id="NombreDelDocumentoUP" class="form-control" placeholder="Escribir el nombre del documento..." asp-for="NombreDocumento">
                                        </div>
                                        <!-- Nomenclatura -->
                                        <div class="form-group col-md-6">
                                            <label>Nomenclatura del documento</label>
                                            <input type="text" class="form-control" placeholder="Escribir la nomenclatura del documento..." asp-for="Nomenclatura">
                                        </div>
                                        <!-- Tiempo de Retención -->
                                        <div class="form-group col-md-6">
                                            <label>Tiempo de Retención</label>
                                            <select class="form-control select2" style="width: 100%;" asp-for="TiempoRetencion" asp-items="ViewBag.IdTiempoRetencion"></select>
                                        </div>
                                    }

                                    if (!ViewData["TipoSolicitud"].Equals("Obsoletizacion"))
                                    {
                                        <!-- Líder del Proceso -->
                                        <div class="form-group col-md-6">
                                            <label>Líder del Proceso</label>
                                            <input type="text" class="form-control" placeholder="Escribir el nombre del Líder del Proceso..." asp-for="LiderProceso">
                                        </div>
                                    }
                                }
                                </div>
                                <div class="row">
                                @{
                                    if (ViewData["TipoSolicitud"].Equals("Creacion") || ViewData["TipoSolicitud"].Equals("Nomenclatura"))
                                    {
                                        <!-- Medio de almacenamiento -->
                                        <div class="form-group col-md-6">
                                            <label>Medio de almacenamiento</label>
                                            <select class="form-control select2" style="width: 100%;" asp-for="MedioAlmacenamiento" asp-items="ViewBag.IdMedioAlmacenamiento"></select>
                                        </div>
                                    }

                                    if (!ViewData["TipoSolicitud"].Equals("Obsoletizacion"))
                                    {
                                        <!-- Frecuencia de Revisión -->
                                        <div class="form-group col-md-6">
                                            <label>Frecuencia de Revisión</label>
                                            <select class="form-control select2" style="width: 100%;" asp-for="FrecuenciaRevision" asp-items="ViewBag.IdFrecuenciaRevision"></select>
                                        </div>
                                    }

                                    <!-- Revisión -->
                                    <div class="form-group col-md-6">
                                        <label>Revisión</label>
                                        <input type="text" class="form-control" placeholder="Escribir el nombre de la revisión..." asp-for="Revision">
                                    </div>
                                }   
                                </div>
                                <div class="row">
                                @{
                                    if (ViewData["TipoSolicitud"].Equals("Creacion") || ViewData["TipoSolicitud"].Equals("Nomenclatura"))
                                    {
                                        <!-- Responsable -->
                                        <div class="form-group col-md-6">
                                            <label>Responsable</label>
                                            <input type="text" class="form-control" placeholder="Escribir el nombre del responsable..." asp-for="Responsable">
                                        </div>
                                    }

                                    if (!ViewData["TipoSolicitud"].Equals("Obsoletizacion"))
                                    {
                                        <!-- Fecha Proxima de Revisión -->
                                        <div class="form-group col-md-6">
                                            <label>Fecha Proxima de Revisión</label>
                                            <input asp-for="FechaProximaRevision" type="date" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                                        </div>
                                    }

                                    <!-- Clasificación -->
                                    <div class="form-group col-md-6">
                                        <label>Clasificación</label>
                                        <select class="form-control select2" style="width: 100%;" asp-for="Clasificacion" asp-items="ViewBag.IdClasificacion"></select>
                                    </div>

                                    if (ViewData["TipoSolicitud"].Equals("Creacion") || ViewData["TipoSolicitud"].Equals("Nomenclatura"))
                                    {
                                        <!-- Fecha Vencimiento -->
                                        <div class="form-group col-md-6">
                                            <label>Fecha Vencimiento</label>
                                            <input asp-for="FechaVencimiento" type="date" asp-format="{0:yyyy/MM/dd}" class="form-control" />
                                        </div>
                                        <!-- CompartirDocumentoCon -->
                                        <div class="form-group col-md-12">
                                            <label>Compartir documento con: listado de correos electrónicos separados por punto y comna ";"</label>
                                            <textarea class="form-control rounded-0" rows="2" asp-for="CompartirDocumentoCon" placeholder="Favor escribir correos electrónicos separados por punto y coma ';'"></textarea>
                                        </div>
                                    }

                                }
                                </div>
                            </div>
                            <!-- /.divUltimoPaso -->
                            }
                        </div>
                        <!-- /.box-body -->

                        <!-- box-footer -->
                        <div class="box-footer">
                        @{
                            if (ViewData["IdPaso"].Equals("602"))
                            {
                                <input type="submit" value="Enviar Documento" class="btn btn-info btn-sm" asp-action="Approve" id="btnGuardar" />
                            } else if (ViewData["IdPaso"].Equals("802")) {
                                <input type="submit" value="Enviar Solicitud" class="btn btn-info btn-sm" asp-action="Approve" id="btnGuardar" />
                            } else {
                                <input type="submit" value="Guardar" class="btn btn-info btn-sm" asp-action="Edit" id="btnGuardar" />
                                if (ViewData["IdPaso"].Equals("403") || ViewData["IdPaso"].Equals("1403"))
                                {
                                    <input type="submit" value="Publicar" class="btn btn-outline-info btn-sm" asp-action="Approve" id="btnAprobar" />
                                } else {
                                    <input type="submit" value="Aprobar" class="btn btn-outline-info btn-sm" asp-action="Approve" id="btnAprobar" />
                                }
                                <input type="submit" value="Rechazar" class="btn btn-outline-danger btn-sm" asp-action="Reject" id="btnRechazar" />
                                <a href="#" class="btn btn-danger btn-sm btnDescargarView" role="button" id="btnDescargarHref">Descargar</a>
                            }
                        }
                        </div>
                        <!-- ./box-footer -->
                    </form>
                    <!-- /.form start -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{
    <!-- jQuery UI 1.12.0-rc2 -->
    <script src="~/content/bower_components/jquery-ui/jquery-ui.min-1.12.0-rc2.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            ValidarUltimoPaso();
            ValidarDescargar();
            ValidarTipoCambioMayorMenor();
            ValidarPasoCargarArchivo();
            ValidarPasoCargarArchivoNomencla();
            $(".selectTipoCambio").change(function () {
                ValidarTipoCambioMayorMenor();
            });
            console.log("Autocomplete_jQuery : " + $("#url_api_searchDocName").val());
            console.log("Inicio: (NombreDelDocumento) Autocompletar with Rest Api Search Document Names");
            $('#NombreDelDocumento').autocomplete({
                source: $("#url_api_searchDocName").val()
            });
            console.log("Fin: (NombreDelDocumento) Autocompletar with Rest Api Search Document Names");
            console.log("Inicio: (NombreDelDocumentoUP) Autocompletar with Rest Api Search Document Names");
            $('#NombreDelDocumentoUP').autocomplete({
                source: $("#url_api_searchDocName").val()
            });
            console.log("Fin: (NombreDelDocumentoUP) Autocompletar with Rest Api Search Document Names");
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnRechazar").click(function () {
                if ($(".txtAreaJust").val() == '') {
                    var type = 'warning';
                    var message = 'Por favor escribir la Justificación!!!'
                    var alertType = 'alert-' + type
                    var htmlAlert = '<div class="alert ' + alertType + '"><h3>Advertencia :</h3><h4>' + message + '</h4></div>';
                    $(".alert-message").prepend(htmlAlert);
                    $(".alert-message .alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
                    return false;
                }
                return true;
            });
        });
    </script>
    <script>
        function ValidarTipoCambioMayorMenor() {
            var _paso = true;
            var _checked = ($(".selectTipoCambio").val() == 'Mayor');
            $("#chkAdiestramiento").prop("checked", _checked);
            $("#chkAdiestramiento").attr("disabled", _checked);
            if (_checked && _paso) {
                $(".divAnexo").css("visibility", "visible");
            } else {
                $(".divAnexo").css("visibility", "hidden");
                $('#InputFileAnexo').val('');
            }
        }
    </script>
    <script>
        function ValidarUltimoPaso() {
            var _paso = ($("#IdPaso").val() == '403' || $("#IdPaso").val() == '608' || $("#IdPaso").val() == '807' || $("#IdPaso").val() == '1011' || $("#IdPaso").val() == '1403');
            if (_paso) {
                $(".divUltimoPaso").css("display", "block");
            } else {
                $(".divUltimoPaso").css("display", "none");
            }
        }
    </script>
    <script>
        function ValidarPasoCargarArchivo() {
            var _paso = ($("#IdPaso").val() == '203' || $("#IdPaso").val() == '204' || $("#IdPaso").val() == '205' || $("#IdPaso").val() == '401' || $("#IdPaso").val() == '402' // Creación
                || $("#IdPaso").val() == '602' || $("#IdPaso").val() == '603' // Actualización
                || $("#IdPaso").val() == '802'  // Obsoletización
                || $("#IdPaso").val() == '1004' // Reactivación
            );
            if (_paso) {
                $(".divCargarDoc").css("display", "block");
            } else {
                $(".divCargarDoc").css("display", "none");
            }
        }
    </script>
    <script>
        function ValidarPasoCargarArchivoNomencla() {
            var _paso = ($("#IdPaso").val() == '1202') || ($("#IdPaso").val() == '1601');
            if (_paso) {
                $(".divCargarDocNomencla").css("visibility", "visible");
            } else {
                $(".divCargarDocNomencla").css("visibility", "hidden");
            }
        }
    </script>
    <script>
        function ValidarDescargar() {
            var _paso = false;
            var _tipoSolicitud = $("#tipoSolicitud_vb").val();
            if (_tipoSolicitud == 'Creacion') {
                _paso = true;
            } else if (_tipoSolicitud == 'Actualizacion') {
                _paso = ($("#IdPaso").val() == '603' || $("#IdPaso").val() == '604' || $("#IdPaso").val() == '605' || $("#IdPaso").val() == '606' || $("#IdPaso").val() == '607' || $("#IdPaso").val() == '608');
            } else if (_tipoSolicitud == 'Obsoletizacion') {
                _paso = ($("#IdPaso").val() == '803' || $("#IdPaso").val() == '804' || $("#IdPaso").val() == '805' || $("#IdPaso").val() == '806' || $("#IdPaso").val() == '807');
            } else if (_tipoSolicitud == 'Reactivacion') {
                _paso = ($("#IdPaso").val() == '1008' || $("#IdPaso").val() == '1009' || $("#IdPaso").val() == '1010' || $("#IdPaso").val() == '1011');
            } else if (_tipoSolicitud == 'Nomenclatura') {
                _paso = ($("#IdPaso").val() != '1202');
            }
            if (_paso) {
                $(".btnDescargarView").css("visibility", "visible");
            } else {
                $(".btnDescargarView").css("visibility", "hidden");
            }
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var url_api = $("#url_download").val() + "/" + $("#IdDoc").val();
            $("#btnDescargarHref").attr("href", url_api);
            url_api = $("#url_download").val() + "/" + $("#IdDoc").val() + "/" + $("#IdPaso").val() + "/" + $("#user_name").val();
            $("#btnDescargarAnexoHref").attr("href", url_api);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnGuardar").click(function () {
                return ValidarCamposMinimos();
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnAprobar").click(function () {
                return ValidarCamposMinimos();
            });
        });
    </script>
    @*<script type="text/javascript">
        $(document).ready(function () {
            $("#btnDescargarAnexoHref").click(function () {
                var type = 'warning';
                var message = 'En este momento el documento anexo no se encuentra disponible, favor intentar más tarde, Gracias!';
                var alertType = 'alert-' + type
                var htmlAlert = '<div class="alert ' + alertType + '"><h3>Advertencia :</h3><h4>' + message + '</h4></div>';
                $(".alert-message").prepend(htmlAlert);
                $(".alert-message .alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
                return false;
            });
        });
    </script>*@
    <script>
        function ValidarCamposMinimos() {
            var type = 'warning';
            var alertType = 'alert-' + type;
            var texto = $(".txtSolicitante").val().trim();
            if (texto == '') {
                var message = 'Por favor ingresar el nombre del solicitante!!!';
                var htmlAlert = '<div class="alert ' + alertType + '"><h3>Advertencia :</h3><h4>' + message + '</h4></div>';
                $(".alert-message").prepend(htmlAlert);
                $(".alert-message .alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
                return false;
            } else {
                if ($(".txtSolicitante").val().length > 300) {
                    var message = 'El nombre del solicitante no debe superar los 300 caracteres de longitud.';
                    var htmlAlert = '<div class="alert ' + alertType + '"><h3>Advertencia :</h3><h4>' + message + '</h4></div>';
                    $(".alert-message").prepend(htmlAlert);
                    $(".alert-message .alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
                    return false;
                }
            }   
            var solicitud = $("#tipoSolicitud_vb").val();
            var _paso = ($("#IdPaso").val() == '602' || $("#IdPaso").val() == '802' || $("#IdPaso").val() == '1004');
            if (solicitud == 'Actualizacion' || solicitud == 'Obsoletizacion' || solicitud == 'Reactivacion') {
                texto = $(".txtNombreDocumento").val().trim();
                if (texto == '') {
                    var message = 'Por favor ingresar el nombre del documento!!!';
                    var htmlAlert = '<div class="alert ' + alertType + '"><h3>Advertencia :</h3><h4>' + message + '</h4></div>';
                    $(".alert-message").prepend(htmlAlert);
                    $(".alert-message .alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
                    return false;
                } else {
                    if ($(".txtNombreDocumento").val().length > 300) {
                        var message = 'El nombre del documento no debe superar los 300 caracteres de longitud.';
                        var htmlAlert = '<div class="alert ' + alertType + '"><h3>Advertencia :</h3><h4>' + message + '</h4></div>';
                        $(".alert-message").prepend(htmlAlert);
                        $(".alert-message .alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
                        return false;
                    }
                }
                if (_paso) {
                    if ($("#InputFileDocumento").val() == '') {
                        var message = 'Por favor adjuntar un documento!!!';
                        var htmlAlert = '<div class="alert ' + alertType + '"><h3>Advertencia :</h3><h4>' + message + '</h4></div>';
                        $(".alert-message").prepend(htmlAlert);
                        $(".alert-message .alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
                        return false;
                    }
                }
            }
            return true;
        }
    </script>
    @*
    <script>
        $(document).ready(function () {
            $("#btnDescargar").click(function () {
                var jwt = $("#jwt_access_token").val();
                var idDoc = $("#IdDoc").val();
                var api_url = "http://157.245.122.221/app-pms-services/flujos/descargar/"+idDoc;
                alert(api_url); alert(jwt);
                $.ajax({
                    url: api_url,
                    type: 'GET',
                    dataType: 'json',
                    beforeSend: function (xhr){
                        xhr.setRequestHeader('Authorization', 'Bearer ' + jwt);
                    },
                    headers: {
                        'Authorization' : 'Bearer ' + jwt
                    },
                    success: function (data){
                        alert("success");
                    },
                    error: function (jqXHR){
                        alert(jqXHR.statusText);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var url_api = "http://api.openweathermap.org/data/2.5/weather?id=5128581&appid=de6d52c2ebb7b1398526329875a49c57&units=metric";
            $("#btnDescargar2").click(function () {
                alert(url_api);
                $.ajax({
                    url: url_api,
                    type: "GET",
                    dataType: "json",
                    success: function (result, status, xhr) {
                        var response = "Result : " + status + " { Response : => | " + result["name"] + " | " + result["sys"]["country"] + " | " + result["main"]["temp"] + "°C | " + result["visibility"] + " | " + result["main"]["humidity"] + " | " + result["weather"][0]["description"] + " | } ";
                        alert("Result : " + status + " => " + response);
                    },
                    error: function (xhr, status, error) {
                        alert("Status : " + status + " | Error : " + xhr.responseText + " | xhr.Status : " + xhr.status + " | xhr.statusText : " + xhr.statusText);
                    }
                });
            });
        });
    </script>
    *@
}