﻿@model IEnumerable<App_Pms.Web.DPWApiClient.Workflow.Entities.ListadoConsultaDocumentos>
@{
    ViewData["Title"] = "Document Search";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Consulta de Documentos
            <small>Panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-edit"></i> Solicitudes</li>
            <li class="active">Consulta de Documentos</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Alerts -->
        @{
            if (ViewData["WFDocument"] != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-check"></i> Alerta!</h4>
                    @ViewData["WFDocument"]
                </div>
            }
        }
        <!-- /. Alerts -->
        <!-- Main row -->
        <div class="row">
            <input type="hidden" id="url_download" value="@ViewBag.url_download" />
            <iframe id="my_iframe" style="display:none;"></iframe>
            <!-- section Left col -->
            <section class="col-lg-12 connectedSortable">
                <!-- col -->
                <div class="col-xs-12">
                    <!-- box -->
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Documentos</h3>
                        </div>
                        <!-- datatable start -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre Documento</th>
                                        <th>Versión</th>
                                        <th>Solicitante</th>
                                        <th>Departamento</th>
                                        <th>Nomenclatura</th>
                                        <th>Fecha Creación</th>
                                        <th>Tipo Documento</th>
                                        <th>Tipo Cambio</th>
                                        <th>Razón Creación</th>
                                        <th>Tiempo Retención</th>
                                        <th>Líder Proceso</th>
                                        <th>Frecuencia Revisión</th>
                                        <th>Revisión</th>
                                        <th>Responsable</th>
                                        <th>Fecha Próxima Revisión</th>
                                        <th>Clasificación</th>
                                        <th>Fecha Vencimiento</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="nr">
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Version)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Solicitante)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Departamento)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nomenclatura)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaCreacion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TipoDocumento)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TipoCambio)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RazonCreacion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TiempoRetencion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LiderProceso)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FrecuenciaRevision)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Revision)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Responsable)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaProximaRevision)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Clasificacion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaVencimiento)
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-info btnDownDoc" role="button" id="btnDescargar2"><i class="fa fa-download"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- datatable end -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </section>
            <!-- /.section Left col -->
        </div>
        <!-- /.row (Main row) -->
    </section>
    <!-- /. Main content -->
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("Document Search Ready");
            $("#example1").on('click', '.btnDownDoc', function(){
                var url_down = $("#url_download").val();
                console.log("url_down => " + url_down);
                var $row = $(this).closest("tr");    // Find the row
                var $text = $row.find(".nr").text(); // Find the text
                url_down = url_down + "/" + $text.trim();
                console.log("url_down_rowText => " + url_down);
                window.open(url_down, '_blank');
            });
        });
    </script>
}