﻿@model IEnumerable<App_Pms.Web.DPWApiClient.Workflow.Entities.ReportListadoDocsObsoletos>

@{
    Layout = "_Reports";
    ViewData["Title"] = "Documents Report";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Reporte Listado Documentos Obsoletos
            <small>Panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-table"></i> Reportes</li>
            <li class="active">Documentos Obsoletos</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <!-- section Left col -->
            <section class="col-lg-12 connectedSortable">
                <!-- col -->
                <div class="col-xs-12">
                    <!-- box -->
                    <div class="box">
                        <!-- datatable start -->
                        <div class="box-body">
                            <table id="reporte1" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Área</th>
                                        <th>N° de Documento</th>
                                        <th>Nombre del Documento</th>
                                        <th>Última Revisión</th>
                                        <th>Fecha Efectiva</th>
                                        <th>Aprobado Por</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Departamento)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nomenclatura)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NombreDocumento)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Revision)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaEfectiva)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AprobadoPor)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- datatable end -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </section>
            <!-- /.section Left col -->
        </div>
        <!-- /.row (Main row) -->
    </section>
    <!-- /. Main content -->
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#reporte1').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy',
                    'csv',
                    'excel',
                    {
                        extend: 'pdfHtml5',
                        title: 'Reporte Listado Documentos Obsoletos',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    },
                    'print'
                ]
            })
        });
    </script>
}