﻿@model LoginViewModel

@{
    Layout = "_Init";
    ViewData["Title"] = "User Login";
}
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>DP World</b>GD</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Iniciar sesión para comenzar!!!</p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group has-feedback">
                <input asp-for="User" class="form-control" placeholder="Usuario..."/>
                <span asp-validation-for="User" class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Password" class="form-control" placeholder="Contraseña..."/>
                <span asp-validation-for="Password" class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input asp-for="RememberMe" type="checkbox"> @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>    
<!-- /.login-box -->