﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DP World | @ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/content/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/content/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/content/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/content/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/content/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- Bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- Google Font -->
    <link rel="stylesheet" href="~/content/google/css.css" />
    <!-- Bootstrap Toggle CSS -->
    <link rel="stylesheet" href="~/content/bootstrap_toggle/css/bootstrap-toggle.min.css">
    <!-- jQuery DataTables File Export -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />
    <!-- DP World Styles -->
    <style type="text/css">
        /* 0572CE Color principal de los menus */
        .skin-blue .main-header .navbar {
            background-color: #0572CE;
        }

        .skin-blue .main-header .logo {
            background-color: #0572CE;
        }

            .skin-blue .main-header .logo:hover {
                background-color: #0572CE;
            }
        /* 0572CE Color principal de los botones */
        .btn-info {
            background-color: #0572CE;
            color: #FFF;
        }

            .btn-info:hover {
                background-color: #0572CE;
                color: #FFF;
            }

            .btn-info:active {
                background-color: #0572CE;
                color: #FFF;
            }

        /* Alertas y Notificaciones */
        .alert {
            position: relative;
            z-index: 10;
            padding-left: 250px;
            font-size: 14px;
        }

            .alert h3,
            .alert .h3 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 24px;
            }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b></b>DP</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>DP World</b> GD</span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/content/DP.png" class="user-image" alt="User Image">
                                <span class="hidden-xs"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/content/DP.png" class="img-circle" alt="User Image">
                                    <p>
                                        @HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value
                                        <small>@HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "Email")?.Value</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    @*<div class="pull-left">
                                        <a href="#" class="btn btn-info btn-flat">Perfil</a>
                                    </div>*@
                                    <div class="pull-right">
                                        <a class="btn btn-info btn-flat" asp-area="" asp-controller="Account" asp-action="LogOff">Cerrar Sesión</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/content/DP.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>
                            @HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value
                        </p>
                        <small>@HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "Email")?.Value</small>
                    </div>
                </div>
                <!-- search form -->
                @*<form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>*@
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MENÚ PRINCIPAL</li>
                    <!-- <li class="active treeview"> -->
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i> <span>Solicitudes</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a asp-controller="Document" asp-action="Create" asp-route-TipoSolicitud="Creacion"><i class="fa fa-circle-o"></i> Crear Documento</a></li>
                            <li><a asp-controller="Document" asp-action="Create" asp-route-TipoSolicitud="Actualizacion"><i class="fa fa-circle-o"></i> Modificar Documento</a></li>
                            <li><a asp-controller="Document" asp-action="Create" asp-route-TipoSolicitud="Obsoletizacion"><i class="fa fa-circle-o"></i> Obsoletizar Documento</a></li>
                            <li><a asp-controller="Document" asp-action="Create" asp-route-TipoSolicitud="Reactivacion"><i class="fa fa-circle-o"></i> Reactivar Documento</a></li>
                            <li><a asp-controller="Document" asp-action="Create" asp-route-TipoSolicitud="Nomenclatura"><i class="fa fa-circle-o"></i> Cambiar Nomenclatura</a></li>
                            <li><a asp-controller="Document" asp-action="Index" asp-route-TipoSolicitud="ConsularDocumentos"><i class="fa fa-circle-o"></i> Consultar Documentos</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i> <span>Reportes</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a asp-controller="Document" asp-action="ReportMatrizRetenciones"><i class="fa fa-circle-o"></i> Matriz de Retenciones</a></li>
                            <li><a asp-controller="Document" asp-action="ReportListadoMaestroDocs"><i class="fa fa-circle-o"></i> Maestro de Documentos</a></li>
                            <li><a asp-controller="Document" asp-action="ReportListadoDocsObsoletos"><i class="fa fa-circle-o"></i> Documentos Obsoletos</a></li>
                        </ul>
                    </li>
                    <li class="header">INFORMACIÓN GENERAL</li>
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Qué es el sistema de gestión?</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Cómo crear un documento?</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- RenderBody -->
        @RenderBody()
        <!-- /RenderBody -->
        <!-- footer -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Sistema de Gestión Documental</b>
            </div>
            <strong>Copyright &copy; 2019-2020 <a href="https://www.dpworld.com/" target="_blank">DP World</a>.</strong> Todos los derechos reservados.
        </footer>
        <!-- /footer -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="~/content/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/content/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="~/content/bower_components/raphael/raphael.min.js"></script>
    <script src="~/content/bower_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/content/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/content/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/content/bower_components/moment/min/moment.min.js"></script>
    <script src="~/content/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/content/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/content/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/content/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/content/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/content/dist/js/demo.js"></script>
    <!-- Bootstrap Toggle JS -->
    <script src="~/content/bootstrap_toggle/js/jquery-2.1.1.min.js"></script>
    <script src="~/content/bootstrap_toggle/js/bootstrap-toggle.min.js"></script>
    <!-- DataTables With Export File Options-->
    <!--Reference to jQuery-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>