﻿@model ErrorViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Bootstrap Alert Message -->
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert-message"> </div>
            </div>
        </div>
    </section>
    <!-- /.Bootstrap Alert Message -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Error @Model.RequestId
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> Error > @Model.RequestId</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            @{
                if (@Model.RequestId.Equals("404"))
                {
                    <h2 class="headline text-yellow"> @Model.RequestId</h2>
                    <div class="error-content">
                        <h3><i class="fa fa-warning text-yellow"></i> Oops! no encontramos lo que necesitas.</h3>
                        <p>
                            No pudimos encontrar el recurso que estabas buscando.
                            Mientras tanto, puedes regresar al tablero principal.
                            <br /><br />
                            <small>
                                @Model.RequestMessage
                            </small>
                        </p>
                    </div>
                }
                else if (@Model.RequestId.Equals("500"))
                {
                    <h2 class="headline text-red"> @Model.RequestId</h2>
                    <div class="error-content">
                        <h3><i class="fa fa-warning text-red"></i> Oops! Un error inesperado.</h3>
                        <p>
                            Trabajaremos para solucionarlo de inmediato.
                            Mientras tanto, puedes regresar al tablero principal.
                            <br /><br />
                            <small>
                                @Model.RequestMessage
                            </small>
                        </p>
                    </div>
                }
                else if (@Model.RequestId.Equals("401"))
                {
                    <h2 class="headline text"> @Model.RequestId</h2>
                    <div class="error-content">
                        <h3><i class="fa fa-warning"></i> Mmmm! No tienes permisos para acceder a esto.</h3>
                        <p>
                            Contacta al administrador del sistema.
                            Mientras tanto, puedes regresar al tablero principal.
                            <br /><br />
                            <small>
                                @Model.RequestMessage
                            </small>
                        </p>
                    </div>
                }
                else
                {
                    <h2 class="headline text"> @Model.RequestId</h2>
                    <div class="error-content">
                        <h3><i class="fa fa-warning"></i> Error!.</h3>
                        <p>
                            Favor contactar al administrador del sistema, estamos trabajando para solucionarlo pronto.
                            Mientras tanto, puedes regresar al tablero principal.
                            <br /><br />
                            <small>
                                @Model.RequestMessage
                            </small>
                        </p>
                    </div>
                }
            }
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->