﻿@model IEnumerable<App_Pms.Web.DPWApiClient.Workflow.Entities.ListadoBandejaTrabajo>
@{
    ViewData["Title"] = "Home Page";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Tablero de Control
            <small>Panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> Inicio</li>
            <li class="active">Tablero de Control</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Alerts -->
        @{
            if (ViewData["WFDocument"] != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-check"></i> Alerta!</h4>
                    @ViewData["WFDocument"]
                </div>
            }
        }
        <!-- /. Alerts -->
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@ViewBag.CantidadCreacion</h3>

                        <p>Creación de Documentos</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document"></i>
                    </div>
                    <a a asp-controller="Document" asp-action="Create" asp-route-TipoSolicitud="Creacion" class="small-box-footer">Iniciar Flujo Creación <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@ViewBag.CantidadActualizacion</h3>

                        <p>Modificación de Documentos</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-sync"></i>
                    </div>
                    <a asp-controller="Document" asp-action="Create" asp-route-TipoSolicitud="Actualizacion" class="small-box-footer">Iniciar Flujo Modificación <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@ViewBag.CantidadObsoletizacion</h3>

                        <p>Obsoletización de Documentos</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-power"></i>
                    </div>
                    <a asp-controller="Document" asp-action="Create" asp-route-TipoSolicitud="Obsoletizacion" class="small-box-footer">Iniciar Flujo Obsoletización <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@ViewBag.CantidadReactivacion</h3>

                        <p>Reactivación de Documentos</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-fastforward"></i>
                    </div>
                    <a asp-controller="Document" asp-action="Create" asp-route-TipoSolicitud="Reactivacion" class="small-box-footer">Iniciar Flujo Reactivación <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@ViewBag.CantidadNomenclatura</h3>

                        <p>Cambio de Nomenclatura</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-albums"></i>
                    </div>
                    <a asp-controller="Document" asp-action="Create" asp-route-TipoSolicitud="Nomenclatura" class="small-box-footer">Iniciar Flujo Cambio Nomenclatura <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- section Left col -->
            <section class="col-lg-12 connectedSortable">
                <!-- col -->
                <div class="col-xs-12">
                    <!-- box -->
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Cola de Trabajo - Documentos</h3>
                        </div>
                        <!-- datatable start -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        @*
                                            <th>ID</th>
                                            <th>Paso ID</th>
                                        *@
                                        <th>Tipo Solicitud</th>
                                        <th>Departamento</th>
                                        <th>Fecha</th>
                                        <th>Nombre Paso</th>
                                        <th>Requiere Soporte</th>
                                        <th>Nombre Documento</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            @*
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Id)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IdPaso)
                                                </td>
                                            *@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TipoSolicitud)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Departamento)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Fecha)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NombrePaso)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RequiereSoporte)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NombreDocumento)
                                            </td>
                                            <td>
                                                <a class="btn btn-info" role="button" asp-controller="Document" asp-action="Edit" asp-route-id="@item.Id" asp-route-idPaso="@item.IdPaso" asp-route-dDocName="@item.DocName" asp-route-dRevLabel="@item.NumeroRevisionDocumento" asp-route-dSecGroup="@item.GrupoSeguridad" asp-route-NombrePaso="@item.NombrePaso"><i class="fa fa-edit"></i></a>
                                                @*<button id="btnEdit" type="button" class="btn btn-info" data-valueId="@item.Id" data-valueIdPaso="@item.IdPaso" data-toggle="modal" data-target="#modal-default"><i class="fa fa-edit"></i></button>*@
                                                @*<a href="#" id="btnEditar" class="btn btn-info" data-valueId="@item.Id" data-valueIdPaso="@item.IdPaso"><i class="fa fa-edit"></i></a>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- datatable end -->
                        <!-- modal start -->
                        <div class="modal fade" id="modal-default">
                            <!-- modal-dialog -->
                            <div class="modal-dialog">
                                <!-- modal-content -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Editar Documentos / []</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!-- form start -->
                                        <form role="form">
                                            <!--box-body -->
                                            <div class="box-body">
                                                <div id="ContentModalEdit">
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </form>
                                        <!-- /form start -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Aprobar</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Descargar</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Rechazar</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal end -->

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </section>
            <!-- /.section Left col -->
        </div>
        <!-- /.row (Main row) -->
    </section>
    <!-- /. Main content -->
</div>
<!-- /.content-wrapper -->


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnEdit").click(function () {
                var id = $(this).data("valueId");
                var idPaso = $(this).data("valueIdPaso");
                $("#ContentModalEdit").load("/Document/Edit/" + id + "?idPaso=" + idPaso,
                    function () {
                        $("#modal-default").modal("show");
                    }
                );
            });
        });
    </script>
}